.footer {
    width: 100%;
    height: fit-content;
    background-color: #2f2f2f;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-container {
    
}

.logo-link-column {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.footer-logo {
    height: 100%;
    width: 100%;
}

.footer-page-links {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.page-link {
    text-decoration: none;
    color: #DDAC7D;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.page-link:hover {
    color: #DDAC7D;
}

.page-link:focus {
    color: #DDAC7D;
}

.socials-column {
    margin-left: 0.125vw;
    margin-right: 0.125vw;
}

.socials-row {
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

.footer-socials {
    height: 100%;
    width: 100%;
}

@media (max-width: 768px) {
    .logo-link-column {
        height: 30vh;
        padding-left: 17.5vw;
        padding-right: 15vw;
    }

    .footer-page-links {
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    .socials-column {
        margin-left: -2vw;
        margin-right: -2vw;
    }

    .footer-socials {
        height: 100%;
        width: 50%;
    }
}