.button-container {
    height: 6.5vh;
    width: 50%;
}

.button-component {
    height: 100%;
    width: 100%;
    border-radius: 100px;
    border-color: white;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0.15vw;
}

.button-component:hover {
    background-color: white;
    color: black;
    border-color: white;
}

.btn-primary {
    --bs-btn-active-bg: white;
    --bs-btn-active-color: black;
    --bs-btn-active-border-color: white;
}