.shop-submenu {
    width: 100%;
    height: 7.5vh;
    padding-left: 15%;
    padding-right: 12.5%;
    margin-bottom: 5vh;
    margin-top: 7.5vh;
}

.shop-title {
    float: left;
    color: #EE5D02;
}

.filter-options {
    width: 50%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
   
}



.filter-button-holder {
    width: 45%;
}

.form-input {
    width: 45%;
    color: white;
}

.form-text {
    background-color: rgba(0, 0, 0,0);
    color: white;
    text-decoration: none;
    padding-left: 1.5vw;
    border-width: 0.15vw;
    border-radius: 500px;
    border-color: #DDAC7D;
    height: 6.75vh;
}